/* =====================   CSS RESET SECTION ==== */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0b2 | 201101 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary, time, mark,
audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
img{vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav,
section, canvas, main,video { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html, body{  width: 100%;  height: 100%;  }

/*   GENERAL SECTION */

body {
    font-family: "Merriweather", serif;
    background-color: lightgray;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

/*    LOGO AND LINKS SECTION */
.logo
{
    width: 100%;
    height: 160px;
    cursor: pointer;
}

.logoAndLinks
{
    background: url("../img/newlayout/news.png") no-repeat;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

/*   TOP MENU SECTION */
.topMenu ul
{
    width:260px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.topMenu ul li
{
    padding-right: 10px;
    border-right: 2px solid darkgray;
}
.topMenu ul li a
{
    color: #40444B;
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
.topMenu ul li a:hover
{
    border-bottom: 1px solid #40444B;
}

/*   TOP NAVIGATION SECTION */
.topNav
{
    margin-top: -40px;
    width: 500px;
    margin-left:470px;
    padding-bottom: 23px;
  }
.topNav ul li a
{
    color: #40444B;
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
.topNav ul
{
    display: flex;
    justify-content: space-around;
    border-left: 2px solid darkgray;
}
.topNav ul li
{
    padding-right: 25px;
    border-right: 2px solid darkgray;
}

.topNav ul li a:hover
{
    border-bottom: 1px solid #40444B;
}


/*    BIG PICTURE SECTION */
.bigPic
{
    background: url('../img/newlayout/trump.jpg') no-repeat;
    display: flex;
    height: 400px;
    width: 50%;
}

.header
{
    display:flex;
    justify-content: space-between;
    width:100%;
    height: 400px;
    border-top:3px solid #A4031F;
    background-color:#40444B;
    cursor: pointer;
}

.grey
{
    margin-left: 480px;
    margin-top: -400px;
    height: 400px;
    width:50%;
}

.headline
{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0px 10px 20px;
    font-size: 2.8125rem;
    text-shadow: 2px 2px 4px #000000;
    line-height: 1.2;
    letter-spacing: 3px;
}

.headlineText
{
    padding-left: 20px;
    color: #ffffff;
    padding-bottom: 15px;
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 2px;
}
.trump
{
    margin-left: 850px;
}
.trump a
{
    text-decoration: none;
}
.trump a:hover
{
    cursor:pointer;
}

.move
{
    padding-left: 20px;
}

.clock
{
    padding-right: 3px;
    border-right: 2px solid #C6BFB7;
    font-size: 18px;
    letter-spacing: 1px;
    color:#ffffff;

}
.verticalLine
{
    padding-right: 3px;
    border-right: 1px solid #C6BFB7;
    font-size: 12px;
    color:black;
}


.place
{
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
}


.timePlace
{
    padding-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
}


.dots
{
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
}


/*  SHORT NAVIGATION SECTION */

.shortNav
{
    padding-bottom: 20px;
    width: 300px;
    margin-left: -15px;
    padding-top: 10px;

}
.shortNav ul li a
{
    color: #40444B;
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: bold;

}
.shortNav ul
{
    display: flex;
    justify-content: space-around;
}
.shortNav ul li a:hover
{
    border-bottom: 1px solid #40444B;
}

/*  LATEST STORIES SECTION */
.latestRow
{
    display:flex;
    justify-content: space-between;
    width:960px;
}

.latestCol
{
    margin-right: 10px;
}

.latestCol ul
{
    padding-left:20px;
    padding-top: 20px;
    padding-right: 20px;
}

.latestCol ul li
{
    padding-bottom: 20px;

}

.latestCol ul li a
{
    text-decoration: none;
}

.latestCol ul li a:hover
{
    text-decoration: underline;
    color:#40444B;
}

.latestRow .latestCol:last-child
{
    margin-right: 0;
}

.headL
{
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 1px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.text
{
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 1px;
    padding-bottom: 5px;
    padding-right: 20px;
    color: grey;
}


.latestStories
{
    border-top: 3px solid #A4031F;
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-bottom: 20px;
}


.latestStories div iframe
{
    padding-left:20px;
    padding-right: 20px;
}

.picture
{
    padding-left:20px;
    padding-right: 20px;
}

.readMore {
    color: #A4031F;
    text-decoration: none;
    text-align: center;
    font-size: 16px;

}

.readMore:hover{
    text-decoration: underline;
}

.arrow
{
    padding-left: 5px;
}

/* MOST READ SECTION  */
h2
{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

h3
{
    padding-top:20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.paddBottom
{
    padding-bottom: 20px;
}

.leftColMostRead
{
    background-color: white;
    margin-right: 10px;
    height:512px;
}

.leftColMostRead ul
{
    border-top: 3px solid #A4031F;
    padding-left:20px;
    padding-top: 20px;
    padding-right: 20px;
}

.leftColMostRead ul li
{
    padding-bottom: 15px;

}

.leftColMostRead ul li:last-child
{
    padding-bottom: 0;
}

.leftColMostRead ul li a
{
    text-decoration: none;
    line-height: 1.4;
    letter-spacing: 1px;
    font-size: 16px;
}

.leftColMostRead ul li a:hover
{
    text-decoration: underline;
    color:#40444B;
}

/*  SITEMAP SECTION   */
.sitemap
{
    display:flex;
}


.latestRowSiteMap
{
    border-top: 3px solid #A4031F;
    background-color: #40444B;
}

.title
{
    color: #ffffff;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.linkSiteMap
{
    color: #40444B;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.2;
}

.linkSiteMap:hover
{
    text-decoration: underline;
    color:#ffffff;
}

.siteSocial
{
    margin: 0 auto;
    width:960px;
    display:flex;
    justify-content: space-between;
}

.latestColSiteMap ul
{
    padding-top: 20px;
}

.latestColSiteMap ul li
{
    padding-bottom: 20px;
    width:150px;
}

.latestColSiteMap ul li a
{
    text-decoration: none;
    color:#ffffff;
}

.latestColSiteMap ul li a:hover
{
    text-decoration: underline;
    color: #ffffff;
}

/* SOCIAL MEDIA SECTION*/

.goToTop
{
    display:flex;
    justify-content: space-between;
}
.goToTop div a
{
    padding-left: 10px;
    color: #ffffff;
    padding-top: 10px;
}

.linkTop
{
    color: #40444B;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.2;
    text-decoration: none;

}

.linkTop:hover
{
    text-decoration: underline;
    color:#ffffff;
}

.latestColSocialMedia ul li a
{
    text-decoration: none;
}

.latestColSocialMedia ul li a:hover
{
    text-decoration: underline;
    color:#40444B;
}

.base
{
    background-color: black;
    height: 50px;
    color:#ffffff;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 2px;
}
